In [1]:
import numpy as np
import pandas as pd

In [6]:
books = pd.read_csv('book_rec/Books.csv',encoding="latin-1")

C:\Users\Yash\AppData\Local\Temp\ipykernel_12992\3496349694.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('book_rec/Books.csv',encoding="latin-1")

In [8]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [18]:
books['Image-URL-L'].iloc[5]

'http://images.amazon.com/images/P/0399135782.01.LZZZZZZZ.jpg'

In [20]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [22]:
books.rename(columns={'ISBN':'isbn','Book-Title':'title','Book-Author':'author', 'Year-Of-Publication':'year','Publisher':'publisher'}, inplace=True)

C:\Users\Yash\AppData\Local\Temp\ipykernel_12992\114720982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={'ISBN':'isbn','Book-Title':'title','Book-Author':'author', 'Year-Of-Publication':'year','Publisher':'publisher'}, inplace=True)

In [23]:
books

,isbn,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [24]:
users = pd.read_csv('book_rec/Users.csv',encoding="latin-1")

In [25]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [27]:
users.rename(columns={'User-ID':'id','Location':'location','Age':'age'}, inplace=True)

In [55]:
ratings = pd.read_csv('book_rec/Ratings.csv',encoding="latin-1")

In [56]:
ratings.rename(columns={'User-ID':'id','ISBN':'isbn','Book-Rating':'rating'}, inplace=True)

In [31]:
ratings

             id         isbn  rating
0        276725   034545104X       0
1        276726   0155061224       5
2        276727   0446520802       0
3        276729   052165615X       3
4        276729   0521795028       6
...         ...          ...     ...
1149775  276704   1563526298       9
1149776  276706   0679447156       0
1149777  276709   0515107662      10
1149778  276721   0590442449      10
1149779  276723  05162443314       8

[1149780 rows x 3 columns]

In [36]:
users['age'].isna().sum()
users

            id                            location   age
0            1                  nyc, new york, usa   NaN
1            2           stockton, california, usa  18.0
2            3     moscow, yukon territory, russia   NaN
3            4           porto, v.n.gaia, portugal  17.0
4            5  farnborough, hants, united kingdom   NaN
...        ...                                 ...   ...
278853  278854               portland, oregon, usa   NaN
278854  278855  tacoma, washington, united kingdom  50.0
278855  278856           brampton, ontario, canada   NaN
278856  278857           knoxville, tennessee, usa   NaN
278857  278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [40]:
mask = ratings['id'].value_counts()>200

In [42]:
mask_index = mask[mask].index

In [65]:
mask[mask]

id
11676     True
198711    True
153662    True
98391     True
35859     True
          ...
274808    True
28634     True
59727     True
268622    True
188951    True
Name: count, Length: 899, dtype: bool

In [45]:
mask_index

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='id', length=899)

In [58]:
ratings = ratings[ratings['id'].isin(mask_index)]

In [59]:
ratings.shape

(526356, 3)

In [60]:
ratings

             id        isbn  rating
1456     277427  002542730X      10
1457     277427  0026217457       0
1458     277427  003008685X       8
1459     277427  0030615321       0
1460     277427  0060002050       0
...         ...         ...     ...
1147612  275970  3829021860       0
1147613  275970  4770019572       0
1147614  275970   896086097       0
1147615  275970  9626340762       8
1147616  275970  9626344990       0

[526356 rows x 3 columns]

In [68]:
rating = pd.merge(ratings, books, on='isbn', how='inner')

In [75]:
ratings.groupby('title')

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  ÃƒÂƒ?ÃƒÂ‚?ber die Pflicht zum Ungehorsam gegen den...       3
160265                                    ÃƒÂƒ?ÃƒÂ‚?lpiraten.       1
160266                   ÃƒÂƒ?ÃƒÂ‚?rger mit Produkt X. Roman.       1
160267                            ÃƒÂƒ?ÃƒÂ‚?stlich der Berge.       1
160268                                ÃƒÂƒ?ÃƒÂ‚?thique en toc       1

[160269 rows x 2 columns]

In [70]:
rating

,id,isbn,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books
...,...,...,...,...,...,...,...
487666,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA)
487667,275970,3411086211,10,Die Biene.,Sybil GrÃƒÂƒ?ÃƒÂ‚Ã‚Â¤fin SchÃƒÂƒ?ÃƒÂ‚Ã‚Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim"
487668,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann
487669,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN)
487670,275970,9626340762,8,Northanger Abbey (Classic Literature with Clas...,Jane Austen,1996,Naxos Audiobooks Ltd.

In [77]:
rating_per_book = rating.groupby('title')['rating'].count().reset_index()
rating_per_book.rename(columns={'rating':'ratings_per_book'}, inplace=True)

In [102]:
final_rating = pd.merge(rating, rating_per_book, on='title')

In [103]:
final_rating = final_rating[final_rating['ratings_per_book'] >= 30]

In [104]:
final_rating

,id,isbn,rating,title,author,year,publisher,ratings_per_book
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
7,277427,0060177721,0,Finding Moon,Tony Hillerman,1995,Harpercollins,33
12,277427,006092988X,0,A Tree Grows in Brooklyn,Betty Smith,1998,Perennial,37
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,108
...,...,...,...,...,...,...,...,...
487534,275970,1558744606,0,Chicken Soup for the Mother's Soul (Chicken So...,Jack Canfield,1997,Health Communications,33
487578,275970,1573227951,0,An Instance of the Fingerpost,Iain Pears,2000,Riverhead Books,48
487579,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,59
487618,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,146
487619,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,53

In [105]:
final_rating.drop_duplicates(['id','title'], inplace=True)

In [106]:
final_pivot = final_rating.pivot_table(columns='id', index='title', values='rating')

In [113]:
final_pivot.fillna(0.0, inplace=True)

In [98]:
from scipy.sparse import csr_matrix

In [99]:
book_sparse = csr_matrix(final_pivot)

In [100]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')

In [101]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [148]:
distances, suggestions = model.kneighbors(final_pivot.iloc[556,:].values.reshape(1,-1), n_neighbors=6)

In [149]:
final_pivot.index.get_loc("Harry Potter and the Chamber of Secrets (Book 2)")

556

In [150]:
for i in range(len(suggestions)):
    print(final_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'The Mammoth Hunters (Auel, Jean M. , Earth's Children.)',
       'Dinner at the Homesick Restaurant'],
      dtype='object', name='title')

In [134]:
final_pivot.iloc[556]

id
254       9.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    9.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: Harry Potter and the Chamber of Secrets (Book 2), Length: 893, dtype: float64